* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}

*::selection {
	background: rgba(0, 0, 0, .1);	
}

body {
	font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: #F9FAFB;
}
.button--active{
    background: linear-gradient(90deg,rgba(111,174,255,1) 0%,rgba(60,118,255,1) 100%);;
    color:white;
}

.button{
    height: 58px;
    font-size: 18px;
    line-height: 58px;
    padding: 0 24px;
    border-radius: 4px;
    border-style: none;
    margin: 20px 5px 80px 5px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1); 
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1); 
    transition: all 250ms cubic-bezier(.02, .01, .47, 1); 
}
@media only screen and (max-width: 500px){
.button{
    height: 44px;
    font-size: 14px;
    line-height: 44px;
}
}


.button--active:hover{
    background: linear-gradient(90deg,rgba(55,147,255,1) 0%,rgba(8,82,255,1) 100%);;
    color: #FFFFFF;
    box-shadow: 0 6px 20px rgba(8,82,255,.1)
}

.copyright{
    color: #858B9C;
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}
a{
    color: #41485D;
    text-decoration: none;
    cursor: pointer;
}